<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259615978523-ov321fsab93q1ltnf075spn9m9c8ahbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259615978523-ov321fsab93q1ltnf075spn9m9c8ahbq</string>
	<key>API_KEY</key>
	<string>AIzaSyDW75xvydYXryrBU2mft1pYwC_rTbUkPfk</string>
	<key>GCM_SENDER_ID</key>
	<string>259615978523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mjkoo.memo</string>
	<key>PROJECT_ID</key>
	<string>quickmemo-6b436</string>
	<key>STORAGE_BUCKET</key>
	<string>quickmemo-6b436.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259615978523:ios:08e0a64ee2ed647a</string>
	<key>DATABASE_URL</key>
	<string>https://quickmemo-6b436.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-6738092375038703~5820049888</string>
</dict>
</plist>